/*PALETA DE COLORES https://coolors.co/13095e-264653-e9c46a-f4a261-e76f51*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1{
    text-shadow: 2px 2px 2px #676768;
    color: #ffffff;
}
#main{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    position: absolute;
    height: 100%;
    width: 100%;
}
.container {
    max-width: 400px;
    min-width: 360px;
}
.title{
    font-size: 3rem;
    font-weight: 500;
}
.form-rounded{
    border-radius: 2rem;
}
.nombre-ciudad p:first-of-type{
    font-size: 1.5em;
    font-weight: 600;
}
.nombre-ciudad span{
    position: relative;
    top: -50px;
    font-size: 40pt;
    font-family: 'Times New Roman', Times, serif;
}
.temp span{
    font-weight: 100;
    font-size: 4em;
    letter-spacing: -5px;
    white-space: nowrap;
}
.card-mid{
    line-height: 0.5;
}
.condition{
    font-size: 1em;
    font-weight: 700;
    line-height: 1em;
    text-transform: capitalize;
}
.card-bottom{
    line-height: 0.5;
}
.card-bottom p{
    font-size: 2.5em;
    font-weight: 100;
    letter-spacing: -3px;
}
.card-bottom span{
    font-size: 12px;
}
.form-control:focus{
    box-shadow: none;
    border-color: inherit;
}
.dia{
    background: linear-gradient(to bottom right, #e9c46a, #f4a261);
}
.noche{
    background: linear-gradient(to bottom left, #373737, #090e3e);
}
.noche h1{
    color: white;
    text-shadow: 2px 2px 2px #000811;
}
.back-card {
    border-radius: 40px !important;
    color: white;
    background: linear-gradient(to bottom right,#479af2,#13095e);
    border-color: #3d3dff;
    text-shadow: 2px 2px 2px #080875;
    box-shadow: 2px 2px 2px #2c3e50;
}

