*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: #eeece2;
}
.container {
    max-width: 400px;
    min-width: 360px;
}
.title{
    font-size: 3rem;
    font-weight: 500;
}
.form-rounded{
    border-radius: 2rem;
}
.nombre-ciudad p:first-of-type{
    font-size: 1.5em;
    font-weight: 600;
}
#main{
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    position: absolute;
    height: 100%;
    width: 100%;
}
